#top {
    position: relative;
    background-color: white;
    color: #D20005;
    padding: 5px;
    margin: 10px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    width: 820px;
    height: 80px;
}

#left {
    float: left;
    background-color: #e9edf1;
    color: #6f6f6f;
    padding: 5px;
    margin-left: 10px;
    border-bottom: 1px solid #6f6f6f;
    border-top: 1px solid #6f6f6f;
    border-right: 1px solid #6f6f6f;
    width: 80px;
    height: 500px;
}

#right {
    float: none;
    background-color: #c7edcc;
    color: black;
    padding: 5px;
    margin-left: 90px;
    width: 720px;
    height: 500px;
}